# Artifacts
*gz
*BIN
*uboot
SDcard/BOOT/*
SDcard/rootfs/rootfs.tar
Linux_Zybo/work/gcc-linaro-4.9.4-2017.01-x86_64_arm-linux-gnueabihf/

# Clones
Linux_Zybo/work/*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
